.hot-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 7.5rem;
    padding-left: 1rem;
    background: url('../../images/hot_music_bg_2x.jpg') no-repeat;
    background-size: 100% 100%;
}
.hoticon {
    width: 7rem;
    height: 3.5rem;
    background: url('../../images/index_icon_2x.png') no-repeat -23px -30px;
    background-size: 166px 100px;
}
.hot-des {
    margin-top: 0.5rem;
    font-size: 0.7rem;
    color: #fff;
}
.music-item {
    display: flex;
    flex: auto;
}