html {
  font-size: calc(100vw / 375 * 20);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "sans-serif", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans" ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul, li {
  list-style: none;
}
