.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.move-box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    &:hover {
        cursor: move;
    } 
}